{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "shippedProposals": true,
        "debug": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true
      }
    ]
  ]
}
